#form {
	height: 8em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#url {
	border-radius: 15px;
	width: 50%;
	box-shadow: inset 1px 1px 4px .3px #222;
}

#submit {
	border-radius: 10px;
}

*:focus {
	outline: none;
}