html {
  margin: 0;
  height: 100%;
  user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1.5px -1px 0 #000, -1.5px 1px 0 #000, 1px 1px 0 #000;
  color: #FFF;
  filter: blue(25%);
  text-align: center;
}

body {
  margin: 0;
  height: 100%;
  background: url(./Images/circuit.jpg) no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(2px) grayscale(60%);
}

code {
  font-family: 'Roboto Condensed', sans-serif;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}